.forms{
    background-color:#0062d3 ;
}
.forms .container{
    padding: 20px;
}
.forms .form-small-cont{
    text-align: center;
}
.forms .form-small-cont p{
    color: #fff;
    font-size: 20px;
    padding: 5px;
}
.forms .form-small-cont p span{
    font-weight: 700;
}















