@media (min-width:320px) and (max-width:480px) {

    .header {
        text-align: center;
        display: block;
        float: left !important;
    }

    .header .logo {
        display: none;
    }

    .header .head-comput {
        display: none;
    }
    .head-center {
        left: 29%;
    }
    .head-last {
        display: none;
    }

    .navbar {
        height: 100px;
        text-align: center;
    }
    .navbar .nav-menu .menu li {
        padding: 8px 10px 6px 8px;
    }
    .navbar h2 {
        display: none;
    }
    .navbar .nav-menu .menu li a {
        margin: 0px;
    }

    .navbar .nav-menu .menu {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .banner h1 {
        font-size: 30px;
        font-weight: 800;
    }
/* .---------   about  ---------- */



.about .about-info {
    margin: 100px 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background: #fff;
}

.about-men {
    display: block;
}
.about .about-info .about-divide-1 .my-img {
    display: block;
}
.about .about-info .about-divide-1 .percentage p .HTML {
    width: 74%; 
}
.about .about-info .about-divide-1 .percentage p .CSS {
    width: 83%; 
}
.about .about-info .about-divide-1 .percentage p .JAVASCRIPT {
    width: 62%; 
}
/* .---------   service  ---------- */

.service .serv-small-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 40px 80px 60px 20px;
}
.service .background-medal .back-color .back-color-container {
    grid-template-columns: repeat(2, 1fr);
}
.service .background-medal .back-color .back-color-container {
    padding: 0px;
}
.service .background-medal .back-color .counter-icon-box {
    margin: 40px 0px 0px 0px;
}


/* .---------   portfolio  ---------- */

.portfolio .port-small-cont {
    grid-template-columns: repeat(1, 1fr);
    padding: 0px;
}
.portfolio .container .port-head {
    margin-top: 0px;
    padding: 0px;
}

.worker{
    display: none;
}

/* .---------   blog  ---------- */


.blog .blog-small-container{
    grid-template-columns: repeat(1, 1fr);
}
.blog .blog-small-container .img-content .final .i {
    display: none;
}


































































}


/* ----------481px------------768px---------- */
/* ----------481px------------768px---------- */
/* ----------481px------------768px---------- */
/* ----------481px------------768px---------- */
/* ----------481px------------768px---------- */

@media (min-width:481px) and (max-width:768px) {

    .header {
        text-align: center;
        display: block;
        float: left !important;
    }

    .header .logo {
        display: none;
    }

    .header .head-comput {
        display: none;
    }
    .head-center {
        left: 36%;
    }
    .head-last {
        display: none;
    }

    .navbar {
        height: 100px;
        text-align: center;
    }
    .navbar .nav-menu .menu li {
        padding: 8px 10px 6px 8px;
    }
    .navbar h2 {
        display: none;
    }
    .navbar .nav-menu .menu li a {
        margin: 0px;
    }

    .navbar .nav-menu .menu {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .banner h1 {
        font-size: 30px;
        font-weight: 800;
    }
/* .---------   about  ---------- */



.about .about-info {
    margin: 100px 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background: #fff;
}

.about-men {
    display: block;
}
.about .about-info .about-divide-1 .my-img {
    display: block;
}
.about .about-info .about-divide-1 .percentage p .HTML {
    width: 74%; 
}
.about .about-info .about-divide-1 .percentage p .CSS {
    width: 83%; 
}
.about .about-info .about-divide-1 .percentage p .JAVASCRIPT {
    width: 62%; 
}
/* .---------   service  ---------- */

.service .serv-small-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 40px 80px 60px 20px;
}
.service .background-medal .back-color .back-color-container {
    grid-template-columns: repeat(2, 1fr);
}
.service .background-medal .back-color .back-color-container {
    padding: 0px;
}
.service .background-medal .back-color .counter-icon-box {
    margin: 40px 0px 0px 0px;
}


/* .---------   portfolio  ---------- */

.portfolio .port-small-cont {
    grid-template-columns: repeat(1, 1fr);
    padding: 0px;
}
.portfolio .container .port-head {
    margin-top: 0px;
    padding: 0px;
}

.worker{
    display: none;
}

/* .---------   blog  ---------- */


.blog .blog-small-container{
    grid-template-columns: repeat(1, 1fr);
}
.blog .blog-small-container .img-content .final .i {
    display: none;
}


}